<div class="container">
    <%= @book.title %>
    <%= button_to 'View Book', book_path(book) ,method: :get, class: "btn btn-outline-info" %>&nbsp
    <%= button_to 'Edit Book', edit_book_path(book), class: "btn btn-outline-danger" %>
    <%= button_to 'Delete', book_path(book),method: :delete, class: "btn btn-outline-danger" %>

 
</div>
